# 🌐 Algemene logs & systeem
*.log
.DS_Store
Thumbs.db

# 🔐 Omgevingsbestanden
.env
.env.backup
.env.production
auth.json

# 🧪 Test en cache
.phpunit.result.cache
.phpunit.cache
.phpactor.json

# 💻 Editor- en IDE-bestanden
/.vscode
/.idea
/.fleet
/.zed

# 🚀 Laravel-gerelateerde bestanden/mappen
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.nova

# 🛠 Homestead-config
Homestead.json
Homestead.yaml